mysql-8.0.13-winx64/bin/echo.exe
mysql-8.0.13-winx64/bin/harness-library.dll
mysql-8.0.13-winx64/bin/ibd2sdi.exe
mysql-8.0.13-winx64/bin/innochecksum.exe
mysql-8.0.13-winx64/bin/libeay32.dll
mysql-8.0.13-winx64/bin/libmecab.dll
mysql-8.0.13-winx64/bin/lz4_decompress.exe
mysql-8.0.13-winx64/bin/my_print_defaults.exe
mysql-8.0.13-winx64/bin/myisam_ftdump.exe
mysql-8.0.13-winx64/bin/myisamchk.exe
mysql-8.0.13-winx64/bin/myisamlog.exe
mysql-8.0.13-winx64/bin/myisampack.exe
mysql-8.0.13-winx64/bin/mysql.exe
mysql-8.0.13-winx64/bin/mysql_config.pl
mysql-8.0.13-winx64/bin/mysql_config_editor.exe
mysql-8.0.13-winx64/bin/mysql_secure_installation.exe
mysql-8.0.13-winx64/bin/mysql_ssl_rsa_setup.exe
mysql-8.0.13-winx64/bin/mysql_tzinfo_to_sql.exe
mysql-8.0.13-winx64/bin/mysql_upgrade.exe
mysql-8.0.13-winx64/bin/mysqladmin.exe
mysql-8.0.13-winx64/bin/mysqlbinlog.exe
mysql-8.0.13-winx64/bin/mysqlcheck.exe
mysql-8.0.13-winx64/bin/mysqld.exe
mysql-8.0.13-winx64/bin/mysqld.pdb
mysql-8.0.13-winx64/bin/mysqld_multi.pl
mysql-8.0.13-winx64/bin/mysqldump.exe
mysql-8.0.13-winx64/bin/mysqldumpslow.pl
mysql-8.0.13-winx64/bin/mysqlimport.exe
mysql-8.0.13-winx64/bin/mysqlpump.exe
mysql-8.0.13-winx64/bin/mysqlrouter.exe
mysql-8.0.13-winx64/bin/mysqlrouter_plugin_info.exe
mysql-8.0.13-winx64/bin/mysqlshow.exe
mysql-8.0.13-winx64/bin/mysqlslap.exe
mysql-8.0.13-winx64/bin/perror.exe
mysql-8.0.13-winx64/bin/resolveip.exe
mysql-8.0.13-winx64/bin/ssleay32.dll
mysql-8.0.13-winx64/bin/zlib_decompress.exe
mysql-8.0.13-winx64/docs/ChangeLog
mysql-8.0.13-winx64/docs/INFO_BIN
mysql-8.0.13-winx64/docs/INFO_SRC
mysql-8.0.13-winx64/docs/sample_mysqlrouter.conf
mysql-8.0.13-winx64/etc/mysqlrouter.conf.sample
mysql-8.0.13-winx64/include/binary_log_types.h
mysql-8.0.13-winx64/include/errmsg.h
mysql-8.0.13-winx64/include/my_command.h
mysql-8.0.13-winx64/include/my_list.h
mysql-8.0.13-winx64/include/mysql.h
mysql-8.0.13-winx64/include/mysql/client_plugin.h
mysql-8.0.13-winx64/include/mysql/plugin_auth_common.h
mysql-8.0.13-winx64/include/mysql/udf_registration_types.h
mysql-8.0.13-winx64/include/mysql_com.h
mysql-8.0.13-winx64/include/mysql_time.h
mysql-8.0.13-winx64/include/mysql_version.h
mysql-8.0.13-winx64/include/mysqld_error.h
mysql-8.0.13-winx64/include/mysqlx_ername.h
mysql-8.0.13-winx64/include/mysqlx_error.h
mysql-8.0.13-winx64/include/mysqlx_version.h
mysql-8.0.13-winx64/include/openssl/applink.c
mysql-8.0.13-winx64/lib/keepalive.dll
mysql-8.0.13-winx64/lib/keepalive.pdb
mysql-8.0.13-winx64/lib/libmysql.dll
mysql-8.0.13-winx64/lib/libmysql.lib
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/char.bin
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/dicrc
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/left-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/matrix.bin
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/pos-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/rewrite.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/right-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/sys.dic
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_euc-jp/unk.dic
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/char.bin
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/dicrc
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/left-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/matrix.bin
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/pos-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/rewrite.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/right-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/sys.dic
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_sjis/unk.dic
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/char.bin
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/dicrc
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/left-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/matrix.bin
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/pos-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/rewrite.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/right-id.def
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/sys.dic
mysql-8.0.13-winx64/lib/mecab/dic/ipadic_utf-8/unk.dic
mysql-8.0.13-winx64/lib/mecab/etc/mecabrc
mysql-8.0.13-winx64/lib/metadata_cache.dll
mysql-8.0.13-winx64/lib/metadata_cache.pdb
mysql-8.0.13-winx64/lib/mysql_protocol.dll
mysql-8.0.13-winx64/lib/mysql_protocol.pdb
mysql-8.0.13-winx64/lib/mysqlclient.lib
mysql-8.0.13-winx64/lib/mysqlrouter_lib.lib
mysql-8.0.13-winx64/lib/mysqlservices.lib
mysql-8.0.13-winx64/lib/plugin/adt_null.dll
mysql-8.0.13-winx64/lib/plugin/component_log_filter_dragnet.dll
mysql-8.0.13-winx64/lib/plugin/component_log_sink_json.dll
mysql-8.0.13-winx64/lib/plugin/component_log_sink_syseventlog.dll
mysql-8.0.13-winx64/lib/plugin/component_validate_password.dll
mysql-8.0.13-winx64/lib/plugin/connection_control.dll
mysql-8.0.13-winx64/lib/plugin/debug/adt_null.dll
mysql-8.0.13-winx64/lib/plugin/debug/adt_null.pdb
mysql-8.0.13-winx64/lib/plugin/debug/component_log_filter_dragnet.dll
mysql-8.0.13-winx64/lib/plugin/debug/component_log_filter_dragnet.pdb
mysql-8.0.13-winx64/lib/plugin/debug/component_log_sink_json.dll
mysql-8.0.13-winx64/lib/plugin/debug/component_log_sink_json.pdb
mysql-8.0.13-winx64/lib/plugin/debug/component_log_sink_syseventlog.dll
mysql-8.0.13-winx64/lib/plugin/debug/component_log_sink_syseventlog.pdb
mysql-8.0.13-winx64/lib/plugin/debug/component_validate_password.dll
mysql-8.0.13-winx64/lib/plugin/debug/component_validate_password.pdb
mysql-8.0.13-winx64/lib/plugin/debug/connection_control.dll
mysql-8.0.13-winx64/lib/plugin/debug/connection_control.pdb
mysql-8.0.13-winx64/lib/plugin/debug/group_replication.dll
mysql-8.0.13-winx64/lib/plugin/debug/group_replication.pdb
mysql-8.0.13-winx64/lib/plugin/debug/ha_example.dll
mysql-8.0.13-winx64/lib/plugin/debug/ha_example.pdb
mysql-8.0.13-winx64/lib/plugin/debug/ha_mock.dll
mysql-8.0.13-winx64/lib/plugin/debug/ha_mock.pdb
mysql-8.0.13-winx64/lib/plugin/debug/keyring_file.dll
mysql-8.0.13-winx64/lib/plugin/debug/keyring_file.pdb
mysql-8.0.13-winx64/lib/plugin/debug/keyring_udf.dll
mysql-8.0.13-winx64/lib/plugin/debug/keyring_udf.pdb
mysql-8.0.13-winx64/lib/plugin/debug/libpluginmecab.dll
mysql-8.0.13-winx64/lib/plugin/debug/libpluginmecab.pdb
mysql-8.0.13-winx64/lib/plugin/debug/locking_service.dll
mysql-8.0.13-winx64/lib/plugin/debug/locking_service.pdb
mysql-8.0.13-winx64/lib/plugin/debug/mypluglib.dll
mysql-8.0.13-winx64/lib/plugin/debug/mypluglib.pdb
mysql-8.0.13-winx64/lib/plugin/debug/mysql_no_login.dll
mysql-8.0.13-winx64/lib/plugin/debug/mysql_no_login.pdb
mysql-8.0.13-winx64/lib/plugin/debug/rewrite_example.dll
mysql-8.0.13-winx64/lib/plugin/debug/rewrite_example.pdb
mysql-8.0.13-winx64/lib/plugin/debug/rewriter.dll
mysql-8.0.13-winx64/lib/plugin/debug/rewriter.pdb
mysql-8.0.13-winx64/lib/plugin/debug/semisync_master.dll
mysql-8.0.13-winx64/lib/plugin/debug/semisync_master.pdb
mysql-8.0.13-winx64/lib/plugin/debug/semisync_slave.dll
mysql-8.0.13-winx64/lib/plugin/debug/semisync_slave.pdb
mysql-8.0.13-winx64/lib/plugin/debug/validate_password.dll
mysql-8.0.13-winx64/lib/plugin/debug/validate_password.pdb
mysql-8.0.13-winx64/lib/plugin/debug/version_token.dll
mysql-8.0.13-winx64/lib/plugin/debug/version_token.pdb
mysql-8.0.13-winx64/lib/plugin/group_replication.dll
mysql-8.0.13-winx64/lib/plugin/ha_example.dll
mysql-8.0.13-winx64/lib/plugin/ha_mock.dll
mysql-8.0.13-winx64/lib/plugin/keyring_file.dll
mysql-8.0.13-winx64/lib/plugin/keyring_udf.dll
mysql-8.0.13-winx64/lib/plugin/libpluginmecab.dll
mysql-8.0.13-winx64/lib/plugin/locking_service.dll
mysql-8.0.13-winx64/lib/plugin/mypluglib.dll
mysql-8.0.13-winx64/lib/plugin/mysql_no_login.dll
mysql-8.0.13-winx64/lib/plugin/rewrite_example.dll
mysql-8.0.13-winx64/lib/plugin/rewriter.dll
mysql-8.0.13-winx64/lib/plugin/semisync_master.dll
mysql-8.0.13-winx64/lib/plugin/semisync_slave.dll
mysql-8.0.13-winx64/lib/plugin/validate_password.dll
mysql-8.0.13-winx64/lib/plugin/version_token.dll
mysql-8.0.13-winx64/lib/routing.dll
mysql-8.0.13-winx64/lib/routing.pdb
mysql-8.0.13-winx64/LICENSE
mysql-8.0.13-winx64/LICENSE.router
mysql-8.0.13-winx64/README
mysql-8.0.13-winx64/README.router
mysql-8.0.13-winx64/share/charsets/armscii8.xml
mysql-8.0.13-winx64/share/charsets/ascii.xml
mysql-8.0.13-winx64/share/charsets/cp1250.xml
mysql-8.0.13-winx64/share/charsets/cp1251.xml
mysql-8.0.13-winx64/share/charsets/cp1256.xml
mysql-8.0.13-winx64/share/charsets/cp1257.xml
mysql-8.0.13-winx64/share/charsets/cp850.xml
mysql-8.0.13-winx64/share/charsets/cp852.xml
mysql-8.0.13-winx64/share/charsets/cp866.xml
mysql-8.0.13-winx64/share/charsets/dec8.xml
mysql-8.0.13-winx64/share/charsets/geostd8.xml
mysql-8.0.13-winx64/share/charsets/greek.xml
mysql-8.0.13-winx64/share/charsets/hebrew.xml
mysql-8.0.13-winx64/share/charsets/hp8.xml
mysql-8.0.13-winx64/share/charsets/Index.xml
mysql-8.0.13-winx64/share/charsets/keybcs2.xml
mysql-8.0.13-winx64/share/charsets/koi8r.xml
mysql-8.0.13-winx64/share/charsets/koi8u.xml
mysql-8.0.13-winx64/share/charsets/latin1.xml
mysql-8.0.13-winx64/share/charsets/latin2.xml
mysql-8.0.13-winx64/share/charsets/latin5.xml
mysql-8.0.13-winx64/share/charsets/latin7.xml
mysql-8.0.13-winx64/share/charsets/macce.xml
mysql-8.0.13-winx64/share/charsets/macroman.xml
mysql-8.0.13-winx64/share/charsets/README
mysql-8.0.13-winx64/share/errmsg-utf8.txt
mysql-8.0.13-winx64/share/dictionary.txt
mysql-8.0.13-winx64/share/charsets/swe7.xml
mysql-8.0.13-winx64/share/bulgarian/errmsg.sys
mysql-8.0.13-winx64/share/czech/errmsg.sys
mysql-8.0.13-winx64/share/danish/errmsg.sys
mysql-8.0.13-winx64/share/dutch/errmsg.sys
mysql-8.0.13-winx64/share/english/errmsg.sys
mysql-8.0.13-winx64/share/estonian/errmsg.sys
mysql-8.0.13-winx64/share/french/errmsg.sys
mysql-8.0.13-winx64/share/german/errmsg.sys
mysql-8.0.13-winx64/share/greek/errmsg.sys
mysql-8.0.13-winx64/share/hungarian/errmsg.sys
mysql-8.0.13-winx64/share/innodb_memcached_config.sql
mysql-8.0.13-winx64/share/install_rewriter.sql
mysql-8.0.13-winx64/share/italian/errmsg.sys
mysql-8.0.13-winx64/share/japanese/errmsg.sys
mysql-8.0.13-winx64/share/korean/errmsg.sys
mysql-8.0.13-winx64/share/norwegian-ny/errmsg.sys
mysql-8.0.13-winx64/share/norwegian/errmsg.sys
mysql-8.0.13-winx64/share/polish/errmsg.sys
mysql-8.0.13-winx64/share/portuguese/errmsg.sys
mysql-8.0.13-winx64/share/romanian/errmsg.sys
mysql-8.0.13-winx64/share/russian/errmsg.sys
mysql-8.0.13-winx64/share/serbian/errmsg.sys
mysql-8.0.13-winx64/share/slovak/errmsg.sys
mysql-8.0.13-winx64/share/spanish/errmsg.sys
mysql-8.0.13-winx64/share/swedish/errmsg.sys
mysql-8.0.13-winx64/share/ukrainian/errmsg.sys
mysql-8.0.13-winx64/share/uninstall_rewriter.sql
node_modules/
qrcodegenerator/
run.bat