<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TagHunt</title>
  <link rel="stylesheet" href="/home.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.js"></script>
  <script src="/home.js"></script>
</head>

<body>

  <div class="w3-cell-row w3-display-middle icons" style="position: absolute; top: 40%;">
    <div class="w3-col l3 m4 s6" style="padding: 15px 5px;"><img class=icon id=earth src="earth.svg"></img></div>
    <div class="w3-col l3 m4 s6" style="padding: 15px 5px;"><img class=icon id=fire src="fire.svg"></img></div>
    <div class="w3-col l3 m4 s6" style="padding: 15px 5px;"><img class=icon id=wind src="wind.svg"></img></div>
    <div class="w3-col l3 m4 s6" style="padding: 15px 5px;"><img class=icon id=water src="water.svg"></img></div>
  </div>
  
  <div class="w3-cell-row log">
    Logged in as
    <%= username %><br>
    <button id="logout">Log Out</button>
  </div>
  <div class="w3-modal">
    <div class="w3-modal-content w3-animate-right" style="background-color: #050505; padding: 20px; text-align: center;">
      <span class="tagtype"></span> tags remaining: <span id="remaining"></span><br>
      <span class="tagtype"></span> tags collected: <span id=collected></span>
    </div>
  </div>

</body>

</html>
