<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TagHunt</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
  <form>
    <input type=text id="name" placeholder="Username"></input><br>
    <button type=submit>Log in / Sign up</button>
  </form>

</body>

</html>
