body {
  background-color: #202020;
}
#msg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #00e007;
  font-size: 32px;
  font-family: Arial;

}

button {
  background-color: #00e007;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  margin: 8px 0px;
  width: 100%;
  transition: 0.15s;
}

button:hover {
  background-color: #0c7f00;
  transition: 0.15s;
}

