body {
  background-color: #202020;
}


#msg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #00e007;
  font-size: calc(1.5vw + 1.5vh + 1.3vmin);
  font-family: Arial;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 5%;
}

button {
  background-color: #00e007;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  margin: 8px 0px;
  width: 100%;
  transition: 0.15s;
}

button:hover {
  background-color: #0c7f00;
  transition: 0.15s;
}