body {
  background-color: #202020;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#logout {
  background-color: #00e007;
  cursor: pointer;
  border: none;
  color: white;
  padding: 6px 20px;
  font-size: 20px;
  margin: 8px 0px;
  width: 100%;
  border-radius: 0;
  transition: 0.15s;
}
#logout:hover{
  background-color: #0c7f00;
  transition: 0.15s;
}

#log {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  margin: 0;
  text-align: center;
  border-top: 1px solid white;
}
