* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  background-color: #202020;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logout {
  background-color: #00e007;
  cursor: pointer;
  border: none;
  color: white;
  padding: 6px 20px;
  font-size: 20px;
  margin: 8px 0px;
  width: 100%;
  border-radius: 0;
  transition: 0.15s;
}

#logout:hover {
  background-color: #0c7f00;
  transition: 0.15s;
}

.log {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  padding-top: 5px;
  margin: 0;
  text-align: center;
}

.icon {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transition: 0.2s;
}

.icon:hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

.icons {
  display: inline-block;
  width: 100%;
  transition: 0.2s;
}