

body {
  background-color: #202020;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #00e007;
  padding: 8px;
  font-size: 18px;
  color: white;
}

button{
  background-color: #00e007;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  margin: 8px 0px;
  width: 100%;
}

div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
